:root {
}

#MainMenuBody > .unity-group-box > #CodeInput > #unity-text-input {
    background-color: rgba(157, 157, 246, 0);
    background-image: url("project://database/Assets/UI/Sprites/9sprite_8bit_circle_outline.png?fileID=21300000&guid=ccc7c244fcf7a7944a1dcb662b24f7a8&type=3#9sprite_8bit_circle_outline");
    -unity-slice-type: tiled;
    -unity-slice-scale: 0.05px;
    -unity-background-image-tint-color: rgb(157, 157, 246);
}

#MainMenuBody > .unity-group-box > #BlackWorkToggle > .unity-toggle__input {
    -unity-background-image-tint-color: rgb(157, 157, 246);
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/UI/Sprites/9sprite_8bit_circle_outline.png?fileID=21300000&guid=ccc7c244fcf7a7944a1dcb662b24f7a8&type=3#9sprite_8bit_circle_outline");
    -unity-slice-type: tiled;
    -unity-slice-scale: 0.05px;
}

#MainMenuBody > .unity-group-box > #BlackWorkToggle > .unity-toggle__input > #unity-checkmark {
    background-color: rgba(255, 255, 255, 0);
    -unity-background-image-tint-color: rgb(49, 248, 251);
    -unity-slice-scale: 0;
}

#MainMenuBody > .unity-group-box > #CodeInput > #unity-text-input {
    background-color: rgba(157, 157, 246, 0);
    background-image: url("project://database/Assets/UI/Sprites/9sprite_8bit_circle_outline.png?fileID=21300000&guid=ccc7c244fcf7a7944a1dcb662b24f7a8&type=3#9sprite_8bit_circle_outline");
    -unity-slice-type: tiled;
    -unity-slice-scale: 0.05px;
    -unity-background-image-tint-color: rgb(157, 157, 246);
}

#CodeInput .unity-base-text-field__input {
    color: rgb(49, 248, 251);
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 10px;
    font-size: 10px;
}

#CodeInput .unity-base-text-field__input--placeholder {
    color: rgb(157, 157, 246);
    opacity: 1;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 10px;
    font-size: 10px;
}

#MainMenuBody > .unity-group-box > #BasicDeliveryToggle > .unity-toggle__input {
    -unity-background-image-tint-color: rgb(157, 157, 246);
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/UI/Sprites/9sprite_8bit_circle_outline.png?fileID=21300000&guid=ccc7c244fcf7a7944a1dcb662b24f7a8&type=3#9sprite_8bit_circle_outline");
    -unity-slice-type: tiled;
    -unity-slice-scale: 0.05px;
}

#MainMenuBody > .unity-group-box > #BasicDeliveryToggle > .unity-toggle__input > #unity-checkmark {
    background-color: rgba(255, 255, 255, 0);
    -unity-background-image-tint-color: rgb(49, 248, 251);
    -unity-slice-scale: 0;
}

#VisualElement > #MainMenuBody > #TogglesContainer > #BlackWorkToggle > .unity-toggle__label {
    min-width: 0;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 10px;
    font-size: 10px;
}

#VisualElement > #MainMenuBody > #TogglesContainer > #BasicDeliveryToggle > .unity-toggle__label {
    width: 0;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 10px;
    font-size: 10px;
}

#ErrorModalOverlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
}

#ErrorModal {
    max-width: 400px;
    background-color: rgb(30, 30, 30);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    width: 80%;
    max-height: 80%;
}

#ErrorText {
    color: white;
    unity-text-align: middle-center;
    margin-bottom: 15px;
}

#BlackWorkToggle:focus .unity-toggle__label,
#BlackWorkToggle:checked:focus .unity-toggle__label,
#BasicDeliveryToggle:focus .unity-toggle__label,
#BasicDeliveryToggle:checked:focus .unity-toggle__label {
    color: rgb(49, 248, 251);
}

#BlackWorkToggle:focus .unity-toggle__input,
#BlackWorkToggle:checked:focus .unity-toggle__input,
#BasicDeliveryToggle:focus .unity-toggle__input,
#BasicDeliveryToggle:checked:focus .unity-toggle__input {
    -unity-background-image-tint-color: rgb(157, 157, 246);
    background-color: rgba(0, 0, 0, 0);
}

#BlackWorkToggle:focus,
#BasicDeliveryToggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

#HelpTitle {
    unity-text-align: middle-center;
    color: rgb(49, 248, 251);
    margin-bottom: 10px;
}

#HelpDescription {
    unity-text-align: middle-center;
    margin-bottom: 10px;
}

#CreditsText {
    unity-text-align: middle-center;
    margin-top: 15px;
    font-size: 9px;
    color: rgb(157, 157, 246);
}

#HelpTitle,
#HelpDescription,
#CreditsText {
    color: rgb(49, 248, 251);
    -unity-font-definition: url("project://database/Assets/Fonts/Orbitron-VariableFont_wght.ttf?fileID=12800000&guid=0d149c3f2eedbc8438e035bf626aacfd&type=3#Orbitron-VariableFont_wght");
    unity-text-align: middle-center;
    white-space: normal;
    overflow: hidden;
    max-width: 100%;
}

.modal-button {
    right: auto;
    top: auto;
    background-image: url("project://database/Assets/UI/Sprites/9sprite_8bit_circle_outline.png?fileID=21300000&amp;guid=ccc7c244fcf7a7944a1dcb662b24f7a8&amp;type=3#9sprite_8bit_circle_outline");
    -unity-slice-scale: 0.05px;
    -unity-slice-type: tiled;
    background-color: rgba(157, 157, 246, 0);
    -unity-background-image-tint-color: rgb(157, 157, 246);
    color: rgb(49, 248, 251);
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/Fonts/Orbitron-VariableFont_wght.ttf?fileID=12800000&amp;guid=0d149c3f2eedbc8438e035bf626aacfd&amp;type=3#Orbitron-VariableFont_wght");
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 15px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}